* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  background: $background-color;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1e1e1e;
}
