.dock {
  display: flex;

  #editor,
  #preview {
    position: relative;
    top: 0;
    left: 0;
    flex: 1;
  }

  #editor {
    border: 0;
    max-width: $editor-width;
    height: 100%;
    background: rgba($background-color, .8);
    opacity: 1;
    transform: none;

    &:hover {
      background: rgba($background-color, .8);
    }
  }
}

.dock-left {
  #editor {
    border-right: 1px solid #171717;

    &.has-error {
      box-shadow: 1px 0 0 #ff5035;
    }
  }

  #preview {
    order: 1;
  }
}

.dock-right {
  #editor {
    border-left: 1px solid #171717;
    max-width: $editor-width;
  }
}
